body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: brown;
    /*font-family: 'Courier New', Courier, monospace;*/
}

.container {
    background: rgba(255, 255, 255, .4);
    padding: 25px;
    border-radius: 6px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
    width: 90%;
    margin: 10px;
    max-width: 450px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.heading {
    font-size: 28px;
}

.input {
    height: 40px;
    width: 300px;
    background: rgba(255, 255, 255, .6);
    border-color: rgba(255, 255, 255, .4);
    font-size: 16px;
    padding: 0 10px;
    border-radius: 6px;
}

.definition {
    display: none;
}